[submodule "rbenv"]
	path = vendor/rbenv
	url = git://github.com/rbenv/rbenv.git
[submodule "z"]
	path = vendor/z
	url = git://github.com/rupa/z.git
[submodule "nave"]
	path = vendor/nave
	url = git://github.com/isaacs/nave.git
[submodule "rbenv-vars"]
	path = link/.rbenv/plugins/rbenv-vars
	url = git://github.com/rbenv/rbenv-vars.git
